*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}

.header{
    height: 50px;
    text-align: center;
    background-color: rgb(214, 154, 154);
    box-shadow: 0 5px 5px 0 rgb(0,0,0,0.15);
    color: white;
}